<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">Short URL ID</th>
            <th scope="col">Long URL</th>
            <th scope="col">Total Visits</th>
            <th scope="col">Unique Visitors</th>
            <th scope="col">Created Date</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <% for (const urlId in urls) { %>
            <tr>
              <td style="vertical-align: middle;"><%= urlId %></td>
              <td style="vertical-align: middle;"><%= urls[urlId]["longURL"] %></td>
              <td style="vertical-align: middle;"><%= urls[urlId]["visitHistories"].length %></td>
              <td style="vertical-align: middle;"><%= urls[urlId]["uniqueVisitors"] %></td>
              <td style="vertical-align: middle;"><%= urls[urlId]["createdDate"] %></td>
              <td>
                <form method="GET" action="/urls/<%= urlId %>/">
                  <button type="submit" class="btn btn-outline-primary">EDIT</button>
                </form>
              </td>
              <td>
                <form method="POST" action="/urls/<%= urlId %>/delete?_method=delete">
                  <button type="submit" class="btn btn-outline-danger">DELETE</button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('partials/_bootstrap') %>
  </body>
</html>
